body{
    background-color: #333;
    margin: 20px;

}

/* .fa-brands fa-apple{
    width: 100px;
    height: 100px;
    size: 50%;
} */

p{
    color: lime;
    font-size: 36px;

}

.a_color{
    color: tomato;
}

img{
    width: 800px;
    border-radius: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto 
}