 * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 36px;
	font-family: 'Montserrat', 'sans-serif';
	background-color: grey;
	margin: 20px;
}
.square {
	width: 100px;
	height: 100px;
	background-color: rgb(5, 150, 240);
	transform: translate(-50%);
	position: absolute;
	top: 150px;
    left: 50%;
	border-radius: 25px;
	border: 2px solid rgb(5, 83, 240);
    box-shadow: 0 0 15px rgb(5, 150, 240);
    transition: background-color .3s, box-shadow .3s;
	transition-timing-function: cubic-bezier(linear);
}


.square:hover{
    background-color: rgb(224, 13, 224);
    box-shadow:0 0 15px  rgb(173, 14, 173);
    border: 2px solid rgb(173, 14, 173);
    width: 200px;
    height: 200px;
    transition: .5s;
}
