* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    /* width: 300px; */
    font-size: 36px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
}

p {
    color: white;
    font-size: 60px;
    /* position: absolute; */
}
/* !IMPORTANT PRZEBIJA WSZYSTKO I JEST TO KOŁO RATUNKOWE */
div {
    background-color: yellowgreen !important; 
}

/* div{
    font-size: 80px;
}

p{
    font-size: 80px;
}

span{
    font-size: 80px;
} */




/* div,p,span{
    font-size: 80px;
} */

/* div p span{
    font-size: 100px;
    background-color: #dde71a;
} */



/* .text{
    font-size: 100px;
} */


/* =================================================


