*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    font-family: 'Monsserat', sans-serif;
    color: white;
}

.box{
    /*JEZELI MAX-WIDTH/HEIGHT NASZA STRONA JEST RESPONSYWNA DO TYLU PX ILU USTAWILISMY */
    max-width: 600px;
    width: 100%;

    max-height: 400px;
    height: 500px;
    background-color: gold;
}

/* html{
    font-size: 10px;
} */


/* 
p{
    font-size: 6.9rem;
} */


