* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    /* width: 300px; */
    margin: 20px;
    font-size: 36px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    /* background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
    overflow: hidden;
    /* text-align: center; */
}

.test {
    color: green;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
}

a{
    color: white;
    text-decoration: none;
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through;
}

p {
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.test2{
    margin-top: 30px;
    background-color: royalblue;
    height: 300px;
    text-align: center;
    line-height: 300px;
    direction: ltr;
    text-shadow: 5px 5px 5px white;
}
 
/* .sans-serif {
    font-family: serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

span {
  font-weight: bold;  
} */




/* WPSIUJAC TRZY CZCIONKI NA RAZ MOWIMY KOMPUTEROWI ZEBY W PIERWSZEJ KOLENOSCI UZYL ARIAL DRUGA .... TRZECIA ... */

/* p{
    font-family: Arial, Helvetica, sans-serif; */
/* }